footer {
  background: $gradient;
  color: $text-footer;

  section {
    flex: 1 1;
    margin-right: (20px);
  }

  a {
    @include set-font-and-line(16px, 19px);
    font-style: normal;
  }

  .top-part {
    padding-top: (80px 0);
    padding-bottom: (80px);

    h5 {
      margin-bottom: (30px);
      @include set-font-and-line(21px, 18px, bold);
    }

    li {
      margin-bottom: (20px);
      white-space: nowrap;
    }

    img {
      margin-right: (20px);
    }
  }

  .line {
    border-bottom: 1px solid $line;
  }

  .bottom-part {
    ul {
      padding: (40px 0);

      @media (max-width: 425px) {
        flex-direction: column;
      }

      li {
        margin-right: (40px);
        padding: (10px 0);
      }
    }
  }
}