header {
  color: $text-header;
  text-transform: uppercase;

  .logo {
    min-width: 5rem;

    img {
      height: 1.6rem;
    }
  }

  ul {
    min-width: 30rem;
    list-style: none;
  }

  .left-section {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  .rigth-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 50%;

    input {
      display: flex;
      min-width: 100px;
    }
  }
}
