.main-header {
  @include set-font-and-line(11px, 13px, bold, uppercase);

  position: absolute;
  left: 0;
  right: 0;
  margin: px-to-rem(10px) auto 0;
  color: $text-header;
  
  & > * {
    margin-top: px-to-rem(20px);
  }

  .logo {
    flex: 1 0 px-to-rem(100px);

    img {
      height: px-to-rem(17px);
      width: px-to-rem(19px);
      margin-right: px-to-rem(5px);
    }

    img, span {
      cursor: pointer;
    }

    span {
      padding: px-to-rem(5px 0px);
      color: $white;
    }
  }

  nav {
    flex: 6 2 px-to-rem(350px);
    margin-left: px-to-rem(-36px);

    li {
      padding: px-to-rem(5px 0px);
      margin-left: px-to-rem(36px);
    }
  }

  input {
    flex: 1 1 px-to-rem(200px);
    border-radius: px-to-rem(50px);
    height: px-to-rem(25px);
    background-color: $input-header;
    padding: px-to-rem(0px 15px);
  }

  @media (max-width: 425px) {
    .logo {
      flex: 1 1 100%;
    }

    nav {
      flex: 1 1 100%;
      order: 2;

      ul {
        flex-direction: column;
      }
    }

    input {
      flex: 1 1 100%;
      order: 1;
    }
  }
}
