@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
button,
input::placeholder {
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
}
@media (max-width: 1219px) {
  .container {
    padding: 0 20px;
  }
}

.d-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-between {
  justify-content: space-between;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

header {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #808080;
  margin: 0 auto;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 2rem;
}
header .logo {
  min-width: 8rem;
  flex: 2 1;
}
header .logo img {
  height: 1.7rem;
  width: 1.9rem;
  margin-right: 0.5rem;
}
header .logo img, header .logo span {
  cursor: pointer;
}
header nav {
  flex: 8 2;
}
header nav li {
  margin-right: 3.6rem;
}
header input {
  flex: 1 1 20rem;
  border-radius: 5rem;
  height: 2.5rem;
  background-color: #3c3b3d;
  padding: 0rem 1.5rem;
}

footer {
  background: linear-gradient(89.02deg, #5328a1 32.83%, #95390c 81.56%);
  color: #cacaca;
}
footer section {
  flex: 1 1;
  margin-right: 2rem;
}
footer a {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-style: normal;
}
footer .top-part {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
footer .top-part h5 {
  margin-bottom: 3rem;
  font-size: 2.1rem;
  line-height: 1.8rem;
}
footer .top-part li {
  margin-bottom: 2rem;
}
footer .top-part img {
  margin-right: 2.1rem;
}
footer .line {
  border-bottom: 1px solid #eee;
}
footer .bottom-part {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
footer .bottom-part li {
  margin-right: 4rem;
}

section.banner {
  min-height: 100vh;
  background: url("../images/banner.png") no-repeat center;
  color: #fff;
  text-align: center;
}
section.banner h1 {
  font-size: 6rem;
  line-height: 7rem;
}
section.banner h3 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 1rem 0rem;
}
section.banner p {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin: 3.5rem 0rem 1rem;
}

section.banner form {
  max-width: 60rem;
  margin: 0 auto;
}
section.banner form input,
section.banner form button {
  flex: 1 1 27rem;
  margin: 3rem 1.5rem 0rem;
  height: 5rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
section.banner form input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.3rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
}
section.banner form button {
  background: #34c176;
  color: inherit;
}

main {
  background: #08020D;
  color: #fff;
}
main section {
  text-align: center;
}
main h2 {
  font-size: 3.8rem;
  line-height: 4.5rem;
  margin-top: 100px;
}

.subscription p {
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-top: 5rem;
}
.subscription .box {
  margin-left: -7.5rem;
}
.subscription .box .card {
  position: relative;
  flex: 1 1 28rem;
  max-width: 36rem;
  margin: 5rem 0rem 0rem 7.5rem;
  min-height: 58rem;
  border-radius: 1rem;
  padding: 0rem 2.5rem;
}
.subscription .box .card h4 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: normal;
  position: absolute;
  top: 2.4rem;
}
.subscription .box .card span .number {
  font-size: 6rem;
  line-height: 6rem;
  margin-right: 1rem;
}
.subscription .box .card span .money {
  font-size: 3rem;
  line-height: 3.5rem;
  vertical-align: top;
}
.subscription .box .card button {
  font-size: 2.4rem;
  line-height: 2.8rem;
  border: 4px solid #fff;
  margin-top: 4rem;
  background: none;
  width: 100%;
  padding: 2.1rem 0rem;
}
.subscription .box .card p {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin-top: 3.5rem;
  margin-bottom: 6rem;
}
.subscription .box .free {
  background: url("../images/subscribe_1.png") no-repeat center;
  background-size: cover;
}
.subscription .box .standart {
  background: url("../images/subscribe_2.png") no-repeat center;
  background-size: cover;
}
.subscription .box .premium {
  background: url("../images/subscribe_3.png") no-repeat center;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
