.icon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
  }
}

@mixin set-icon($width, $height, $left, $bottom) {
  &::before {
    width: px-to-rem($width);
    height: px-to-rem($height);
    left: px-to-rem($left);
    bottom: $bottom;
  }
}

@mixin set-media-icon($width, $height, $left, $bottom) {
  @media (max-width: 425px) {
    @include set-icon($width, $height, $left, $bottom);
  }
}

$list: ('play-button', 'heart');
@each $name in $list {
  @include set-backround-image($name);
}