.track {  
  img {
    width: px-to-rem(50px);
    height: px-to-rem(50px);
  }

  .info {
    flex: 1 1;
    margin-left: px-to-rem(17px);

    .title {
      @include set-font-and-line(14px, 16px);
    }

    .name {
      @include set-font-and-line(12px, 14px);
      color: $text-header;
    }
  }

  .time {
    @include set-font-and-line(14px, 16px);
    margin: auto 0;
    color: $gray;
  }
}