@import '../components/card.scss';

.subscription {
  .box {
    @include set-box(70px, 50px, 350px);

    & > * {
      max-width: px-to-rem(350px);
    }
  }

  & > p {
    @include set-font-and-line(22px, 26px);
    margin-top: px-to-rem(50px);

    @media (max-width: 425px) {
      @include set-font-and-line(12px, 14px);
    }
  }

  $list: ('free': 'subscribe_1', 'standart': 'subscribe_2', 'premium': 'subscribe_3');
  @each $class, $png in $list {
    @include set-background-sub($class, $png);
  }
}

.news .box {
  @include set-box(70px, 50px, 350px);
  @include set-media-box(70px, 20px, 350px);
  color: $gray;

  h3 {
    @include set-font-and-line(30px, 35px);
  
    @media (max-width: 425px) {
      @include set-font-and-line(18px, 21px);
    }
  }

  p {
    @include set-font-and-line(14px, 28px);
    margin-top: px-to-rem(25px);
  }

  .info {
    margin-top: px-to-rem(16px);

    & > * {
      margin-right: px-to-rem(21px);
    }

    img {
      height: px-to-rem(21px);
    }

    .site, .date {
      @include set-font-and-line(12px, 28px, normal, uppercase);
    }

    .site {
      color: $orange;
    }

    .date {
      color: $text-date;
    }

    .line {
      height: px-to-rem(11px);
      border-right: 1px solid $line-info;
    }
  }

  button {
    @include set-font-and-line(12px, 28px, bold, uppercase);
    margin-top: px-to-rem(30px);
    padding: px-to-rem(11px 30px);
    border: 1px solid $border-news-button;
  }
}

.mobile .box {
  @include set-box(70px, 50px, 320px);

  p {
    @include set-font-and-line(16px, 19px);
    color: $gray;
    margin-bottom: px-to-rem(25px);
  }

  button {
    @include set-font-and-line(14px, 16px);
    padding: px-to-rem(19px 60px);
    border-radius: px-to-rem(30px);
  }

  img {
    height: px-to-rem(230px);
  }
}