.banner-artists {
  @include set-banner(550px, 'Morten_Harket.png');

  p {
    margin: px-to-rem(25px 0px 40px);
  }

  .box {
    @include set-box(35px, 25px, 200px);
    max-width: px-to-rem(470px);

    .btn {
      @include set-font-and-line(14px, 16px, normal, uppercase);
      text-align: left;
      padding: px-to-rem(17px 50px);
    }

    .icon {
      @include set-icon(20px, 20px, 15px, calc(50% - 10px));
    }
  }
}