.d-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-between {
  align-items: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.text-center {
  text-align: center;
}

.active {
  color: $white;
}

.mt-100 {
  margin-top: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.m-a {
  margin: auto;
}