* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: $rem-base;
}

body, h1, h2, h3, h4, h5, h6, p, ul, button {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
input::placeholder {
  color: inherit;
}

main {
  background: $background-main;
  color: $white;
  padding-bottom: px-to-rem(100px); 
}

h1 {
  @include set-font-and-line(60px, 70px, bold, uppercase);

  @media (max-width: 425px) {
    @include set-font-and-line(30px, 35px, bold, uppercase);
  }
}

h2 {
  @include set-font-and-line(38px, 45px, bold, uppercase);

  @media (max-width: 425px) {
    @include set-font-and-line(20px, 23px, bold, uppercase);
  }
}

.horizontal-nav {
  li {
    padding: px-to-rem(5px 0px);
    margin-right: px-to-rem(36px);
  }
}

.container {
  width: 100%;
  max-width: px-to-rem(1200px);
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: px-to-rem(0px 20px);
  }
}
