$text-header: #808080;
$text-footer: #cacaca;
$text-date: #555;
$input-header: #3c3b3d;
$banner-border: rgba(255, 255, 255, 0.1);
$gray: #8c8c8c;
$white: #fff;
$black: #000;
$green: #34c176;
$orange: #f89202;
$brown: #95390c;
$red: #ff4157;
$purple: #5328a1;
$gradient: linear-gradient(89.02deg, #5328a1 32.83%, #95390c 81.56%);
$line: #eee;
$line-info: #B8B8B8;
$background-main: #08020D;
$border-news-button: #E9E9E9;
$rem-base: 10px;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: $rem-base;
}

body, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
button,
input::placeholder {
  color: inherit;
}

@function px-to-rem($list) {
  $result: ();

  @each $value in $list {
    $result: append($result, (($value / $rem-base) * 1rem));
  }

  @return #{$result};
}

@mixin set-font-and-line($font, $line, $font-weight: normal, $text-transform: none) {
  font-size: px-to-rem($font);
  line-height: px-to-rem($line);
  font-weight: $font-weight;
  text-transform: $text-transform;
}